body {
	background:#eeeeee;
}

#main {
	padding-top: 20px;
	
}
.main-content {
	display: none;
	background: white;
	margin: 10px 0;
	padding: 30px 20px;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.29);
}

#indian-list tbody td:first-child {
	border-left: 3px solid #1db90c;
}

#indian-list tr.dead {
	background-color: #f0f0f0;
}
#indian-list tr.dead td:first-child{
	border-left: 3px solid #d50404;
}
